<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="GoFishEndpoint"
        address="net.tcp://localhost:12500/GoFishLibrary/Game/"
        binding="netTcpBinding"
        contract="GoFish.IGoFishGame" />
    </client>
  </system.serviceModel>

</configuration>